*{
  box-sizing: border-box;
}

[class *="col-"] {
float: left;
padding: 10px;
}

body {

    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
    /* background: url("../images/concrete_seamless.png"); */
    background:  black;
    color: white;
  }
  
  * {
    box-sizing: border-box;
  }


#headshot {
display: flex;
  border-radius: 80%;
  width: 100px;
  padding-top: 40px;
justify-items: left;
}

  
#navy{
  font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 14px;
}


  /* general */
  .container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
  }
  

  #masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #ff80bf;
    background: black;
    /* background: #ffffff; */
    /* border-bottom: 2px solid #cccccc; */
    border-bottom: 2px solid black;
  }
  
  #nameLogo {
    float: left;
    width: 250px;
    height: 90px;
    /* font-family: Georgia, Times, "Times New Roman", serif; */
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    /* background: #4aaaa5; */
    background: black;
  }

  .dropbtn {
    background-color: black;
    color: 	#FF6347;
    /* padding: 60px; */
    font-size: 30px;
    border: none;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    /* margin-left: 30%; */
    /* text-align: center; */
    /* width: 40%; */
    
  }
  
.alink {
  text-decoration: none;
}

  .dropbtn:hover,
  .dropbtn:focus {
    background-color: black;
    font-family: 'Roboto Mono', monospace;
    /* margin-left: 30%; */
        /* width: 40%; */
        color: 	#FFC0CB;
  }

  #myInput {
    box-sizing: border-box;
    /* margin-left: 30%; */

    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid black;
    font-family: 'Roboto Mono', monospace;
    color: 	#FFC0CB;
  }

  #myInput:focus {
    outline: 3px solid #ddd;
    font-family: 'Roboto Mono', monospace;
    /* margin-left: 30%; */
    color: 	purple;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    margin-left: 30%;
    color: 	#FFC0CB;
  }

  .projex {
    position: relative;
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    margin-left: 30%;
    color: 	#FFC0CB;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 230px;
    overflow: auto;
    border: 1px solid black;
    z-index: 1;
    font-family: 'Roboto Mono', monospace;
color: 	#FFC0CB;

  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Roboto Mono', monospace;
    color: 	#FFC0CB;

  }

  .dropdown a:hover {
    background-color: black;
    font-family: 'Roboto Mono', monospace;
    color: 	#FFC0CB;
  }

  .show {
    font-family: 'Roboto Mono', monospace;
    display: block;
color: 	#FFC0CB;
  }

  
#contact a {
  color: inherit;
  text-decoration: none;
}

#contact a:hover {
  color: palevioletred;
}


@media only screen and (max-width: 600px) {
  #nameLogo
  #contact

}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {
.col-1 {}
.col-2 {}
.col-3 {}
.col-4 {}
.col-5 {}

}

/* change font size , change orientation, change which ones are
 hidden or shown, or change the arrangements  to change orientation:
      @media only screen and (orientation: landscape) {
      body {
        background-color: lightblue;
    }
  
  */